* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d6e2f0;
  font-family: 'Outfit', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

main {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 2px  rgba(0, 0, 0, 0.24);
  max-width: 19rem;
}

img {
  border-radius: 10px;
  margin-top: 1rem;
  width: 90%;
}

h1 {
  color: #1f3251;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1.5rem auto 1rem;
  width: 85%;

}

p {
  color: #7b879d;
  font-size: 15px;
  font-weight: 400;
  margin: 0 auto;
  padding-bottom: 2.5rem;
  width: 85%;
}
